@charset "utf-8";

body {
    display: flex;
    flex-direction: column;

    background-color: red;
}

header {
    background-color: blue;
    height: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;

    background-color: green;
}

nav {
    width: 160px;

    background-color: yellow;
}

article {
    flex: 1;

    background-color: purple;
}